<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - AlarmWorkflow.Website.Reports</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="@Styles.Url("~/Content/app/area-alarm-indexlayout.css")" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
