<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - AlarmWorkflow.Website.Reports</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </head>
    <body style="height:100%; width: 100%; border-top: 0px; padding-top: 0px">
        <div style="height:100%; width: 100%;">
            @RenderBody()
        </div>
    </body>
</html>
